body {
    background-color: #cbc2b5;
}

h1 {
    font-family: serif;
    text-shadow: 1px 1px white;
    color: rgb(87, 72, 58);
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
}

.menu {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.menu.active {
  display: flex;
}

.menu a {
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.menu a:hover {
  color: #4CAF50;
}
